
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap');

body{
    font-size: 20px;
    padding: 32px;  
    font-family: 'Noto Sans', sans-serif; 
}

/* Embedding Web-Fonts */
/* 
@font-face {
    font-family: "Open Sans Regular";
    src: url(Fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: "Open Sans Bold";
    src: url(Fonts/OpenSans-Bold.ttf);
}

h1,
h2 {
    font-family: "Open Sans Bold";
}

p {
    font-family: "Open Sans Regular";
} */
h1,
h2,
h3 {
font-family: 'Roboto Condensed', sans-serif;
color: red;
}
p{
    color: #3b433b;
}